@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pixelate";
  src: url("/SF Pixelate.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pixelate Bold";
  src: url("/SF Pixelate Bold.ttf");
  font-weight: 700;
}

.font-sf-pixelate {
  font-family: 'SF Pixelate', sans-serif;
}

.font-sf-pixelate-bold{
  font-family: 'SF Pixelate Bold', sans-serif;
}

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
  
}

body {
  @apply leading-[normal] m-0;
  
}
*,
::before,
::after {
  border-width: 0;
}

.card-container {
  max-width: 300px; /* Adjust the width as needed */
}

.h-2 {
  transition: transform 0.3s ease; /* Add transition property */
}

.card-container {
  transition: background-color 0.3s ease, color 0.3s ease;
}
